 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, I'm a student at the ENJMIN in France currently studying Game Design and working on the game Ascend.</p>
                </div>
                <div class="col-lg-4">
                    <p>I also work on smaller project during Game Jams or other events sometimes with a team or as a solo developer and i'm looking for a 6 months internship starting March 2018</p>
                </div>
            </div>
        </div>
    </section>